---
import BaseHead from '../components/BaseHead.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
import { SITE_TITLE } from '../consts';

const startDate = new Date('2018-06-01').getTime();
const currentDate = new Date().getTime();
const yearsOfExperience = Math.floor((currentDate - startDate) / (1000 * 60 * 60 * 24 * 365.25));
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title="About Me" description="Learn more about me and my journey" />
	</head>
	<body>
		<Header />
		<section class="section">
			<div class="container">
				<div class="card">
					<div class="card-content">
						<h1 class="title is-1 has-text-white">About Me</h1>
						<div class="content">
							<p>
								Hi, I'm Braden. I'm and electrical engineer by training, but I'm a software engineer by trade with {yearsOfExperience} years of experience in the field.
								 I'm currently working as a senior developer at <a href="https://www.alayacare.com">AlayaCare</a>.
							</p>

							<p>
								I have a beautiful wife named Sydney, two children (Lily and Remi), and a dog named Murphy who I live with in
								Victoria, BC, Canada.
							</p>

							<p>
								The purpose of this blog is to share my thoughts and knowledge of the software world. Mostly I am hoping this
								will help improve my technical writing skills as well as dive deeper into topics that I find interesting.
							</p>
							<p>
								This site was created using Astro, Bulma, and most importantly Cursor. Except for the content of the blog, the entire website was 
								generated using Cursor Agents. 
							</p>
						</div>
					</div>
				</div>
			</div>
		</section>
		<Footer />
	</body>
</html>
